<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- IoC инверсия управления, т.е. передача прав на создание и управлению объектами Spring'у -->
    <!-- singleton scope по умолчанию, явно не прописывается -->
    <bean id="myPet"
          class="com.frizer.spring.spring_introduction.workWithXML.classes.Dog"
          init-method="init"
          destroy-method="destroy"
          scope="prototype">
    </bean>

</beans>